@font-face {
  font-family: 'entan';
  src: url('../Entanglement-rgpRB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futu';
  src: url('../pdark.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pixo';
  src: url('../SuperLegendBoy-4w8Y.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  justify-content:center;
  align-items: center;
  top: 25px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 1rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f20070;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: futu;
  font-size: 17px;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: 
  #5b9ec8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -5px;
  left: 0;
  background-color: #59eafd;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-links a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

#intro{
    background-image: url(../bg-intro.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 990px;
    margin-top: -50px;
}
.p-intro{
    color: #09223e;
    font-size: 70px;
    font-family: pixo;
    margin-left:400px ;
    padding-top: 300px;
}

body{
margin: 0;
padding: 0;
}

.custom-btn {
  color: #fff;
  width: 170px;
  height: 40px;
  
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-7 {
  color: #21ebff;
  line-height: 40px;
  padding: 0;
  border: none;
  margin-left: 400px;
  margin-top: 30px;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 50%;
   width: 2px;
}
.btn-7:after {
  width: 20%;
  height: 2px;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 50%;
}
.btn-7 span:after {
  height: 2px;
  width: 20%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
.btn-8 {
  color: #21ebff;
  line-height: 40px;
  padding: 0;
  border: none;
  margin-left: 400px;
  margin-top: 30px;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 50%;
   width: 2px;
}
.btn-8:after {
  width: 20%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 50%;
}
.btn-8 span:after {
  height: 2px;
  width: 20%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

#Presentation {
  background-color: #1e1c1c;
  background-image: url(../presimg.png);
  background-size: 650px;
  background-position-x: 1150px;
  background-position-y: 290px;
  background-repeat: no-repeat;
  height: 1100px;
}

.ppres{
  font-size: 23px;
  color: white;
  padding-left: 200px;
  padding-top: 70px;
}
.hpres{
  text-align: center;
  color: #f20070;
  font-size: 60px;
  font-family: entan;
  margin-bottom: 50px;
  padding-top: 160px;
}
#bodyproj {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #070f22;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 4rem;
  
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards .card {
  position: relative;
  width: 260px;
  height: 360px;
  margin: 2rem 4rem;
}
.cards .card__image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cards .card__image--inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cards .card__image--inner canvas {
  transform: scale(1.02);
}
.cards .card__text {
  position: absolute;
  left: 0;
  bottom: 25%;
  transform: translateX(-50%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
.cards .card__text--inner {
  display: inline-block;
  color: #5b9ec8;
  font-size: 3rem;
  font-family: "Red Rose", Roboto;
  font-weight: 700;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
  transition: opacity 500ms ease-in;
}
.loading__wrapper .loader__text {
  color: #fff;
  font-family: "Red Rose", Roboto;
  font-weight: 400;
  margin-bottom: 1.4rem;
}
.loading__wrapper.hide {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-20deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}/*# sourceMappingURL=projet.css.map */

.hproj {
  color: #f20070;
  font-family: entan;
  font-size: 60px;
}
#Contact {
  background-color:#070f22;
  padding-top: 85px;
  height: 550px;
}

.h1cont {
   font-size: 60px;
   text-align: center;
   color: #f20070;
}

.pcont {
 
  padding-top: 70px;
  margin-bottom: 50px;
  color: #00b0d3;
  font-size: 30px;
}

.mail {
  width: 50px;
 
}

.a-cv {
  text-decoration: none;
  color: #f20070;
}

.d-cont {
  display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: flex-end;
}
.hr {
  margin-bottom: 110px; width: 300px; margin-left: 802px; color: #59eafd; border: solid 1.9px;
}
.hr2 {
  margin-bottom: 110px; width: 300px; margin-left: 802px; color: #59eafd; border: solid 1.9px;
}

@media screen and (min-width: 300px) and (max-width: 350px){ 
  .p-intro{
    font-size: 35px;
    margin-left: 10px;
    padding-top: 300px;
  }
  nav{
    position:absolute;
    top: 30px;
  }
  .nav-links {
    width: 98%;
  }
  .btn-7{
    margin-left: 100px;
  }
  .hr {
    margin-left: 20px;
  }
  .hr2{
    margin-left: 10px;
  }
  #Presentation{
    height: 1700px;
    background-size: 400px;
    background-position-x: 0px;
    background-position-y: 1000px;
  }
  .hpres{
    font-size: 35px;
  }
  .hproj{
    font-size: 40px;
    padding-right: 180px;
  }
  .ppres{
    padding-left: 17px;
  }
  .pcont{
    text-align: center;
    font-size: 23px;
  }
  #bodyproj {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: #070f22;
  }
  
  main {
    width: 100%;
    display: grid;
    place-items:initial;
    padding: 4rem;
    
  }
  
  .cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .d-cont{
    display: flexbox;
    justify-content: center;
  }
  .btn-8 {
    color: #21ebff;
    line-height: 40px;
    padding: 0;
    border: none;
    margin-left: 0px;
    margin-top: 30px;
  }
 
}
@media screen and (min-width: 350px) and (max-width: 500px){ 
  .p-intro{
    font-size: 41px;
    margin-left: 10px;
    padding-top: 300px;
  }
  nav{
    position:absolute;
    top: 30px;
  }
  .nav-links {
    width: 98%;
  }
  .btn-7{
    margin-left: 100px;
  }
  .hr {
    margin-left: 38px;
  }
  .hr2{
    margin-left: 10px;
    padding-left: 400px;
  }
  #Presentation{
    height: 1520px;
    background-size: 400px;
    background-position-x: 0px;
    background-position-y: 1000px;
  }
  .hpres{
    font-size: 41px;
    padding-right: 0px;
  }
  .hproj{
    font-size: 41px;
    padding-right: 150px;
  }
  .ppres{
    padding-left: 0px;
    font-size: 15px;
    letter-spacing: 0px;
    display: flexbox;
    justify-content: center ;
  }
  .pcont{
    text-align: center;
  }
  #bodyproj {
    width: 120%;
    height: 100%;
    display: grid;
    place-items: center;
    background: #070f22;
  }
  
  main {
    width: 100%;
    display: grid;
    place-items:initial;
    padding: 4rem;
    
  }
  
  .cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #Contact{
    width: 180%;
  }
  #intro {
    width: 180%;
  }
  #Presentation{
    width: 105%;
  }
  .h1cont{
    font-size: 40px;
    padding-right: 280px;
  }
  .pcont{
    font-size: 28px;
    padding-right: 280px;
  }
  .d-cont{
    display: flexbox;
    justify-content: center;
  }
  .btn-8 {
    color: #21ebff;
    line-height: 40px;
    padding: 0;
    border: none;
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px){ 
  .p-intro{
    font-size: 45px;
    margin-left: 50px;
    padding-top: 300px;
  }
  nav{
    position:absolute;
    top: 30px;
  }
  .nav-links {
    width: 98%;
  }
  .btn-7{
    margin-left: 100px;
  }
  .hr {
    margin-left: 135px;
  }
  .hr2{
    margin-left: 10px;
  }
  #Presentation{
    width: 102%;
    height: 1700px;
    background-size: 400px;
    background-position-x: 87px;
    background-position-y: 1000px;
  }
  .ppres{
    padding-left: 17px;
  }
  .pcont{
    text-align: center;
  }
  #bodyproj {
  width: 102%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #070f22;
}

main {
  width: 80%;
  display: grid;
  place-items:initial;
  padding: 4rem;
  
}

.cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#Contact{
  width: 102%;
}
#intro {
  width: 102%;
}
}
@media screen and (min-width: 1700px) and (max-width: 2000px){

  .hr2{
    margin-left: 0px;
  }
  .hr{
    margin-left: 780px;
  }
  .d-cont {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: flex-end;
  }
}